<div *ngIf="!dataLoaded; else form">
  <div class="spinner">
    <div class="loader"></div>
  </div>
</div>

<ng-template #form>
  <div class="container">
    <h2>Register Form</h2>
    <form [formGroup]="applyForm" (submit)="submitApplication()">
      <div class="row" >

        <div class="col-25">
          <label for="username" >Username</label>
        </div>

        <div class="col-75">
          <input type="text" formControlName="username" id="username"  placeholder="Username" [value]="user?.username" >
        </div>

        <div class="error" *ngIf="applyForm.get('username')?.errors">
          {{ applyForm.controls.username | formControlErrorMessage }}
        </div>

      </div>

      
      <div class="row">
        <div class="col-25"><label for="password">Password</label></div>
        <div class="col-75"><input type="password" formControlName="password" id="password"  [value]="user?.password" placeholder="Password" ></div>

        <div class="error" *ngIf="applyForm.get('password')?.errors">
          {{ applyForm.controls.password | formControlErrorMessage }}
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Submit">
      </div>

      
    </form>
  </div>
</ng-template>
